In [0]:
pip install catboost

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/b2/aa/e61819d04ef2bbee778bf4b3a748db1f3ad23512377e43ecfdc3211437a0/catboost-0.23.2-cp36-none-manylinux1_x86_64.whl (64.8MB)
     |████████████████████████████████| 64.8MB 70kB/s
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.18.4)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.0.3)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.12.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-0.23.2

In [0]:
import pandas as pd
import numpy as np
import time
from tqdm import tqdm
from sklearn import *
from lightgbm import LGBMClassifier
from lightgbm import LGBMRegressor
from sklearn.ensemble import GradientBoostingClassifier
from catboost import CatBoostClassifier
from sklearn.ensemble import StackingClassifier
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier
from sklearn.multiclass import OneVsRestClassifier

In [0]:
from google.colab import drive

drive.mount('/content/gdrive', force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
cd /content/gdrive/My\ Drive

/content/gdrive/My Drive

In [0]:
train = pd.read_excel('train_banking.xlsx')
test = pd.read_excel('test_banking.xlsx')

In [0]:
train['Interest_Rate'].value_counts()

2    70580
3    59923
1    33806
Name: Interest_Rate, dtype: int64

In [0]:
train.head(2)

    Loan_ID  Loan_Amount_Requested  ...  Gender Interest_Rate
0  10000001                   7000  ...  Female             1
1  10000002                  30000  ...  Female             3

[2 rows x 14 columns]

In [0]:
test.head(2)

    Loan_ID  Loan_Amount_Requested  ... Total_Accounts Gender
0  10164310                  27500  ...             37   Male
1  10164311                  26000  ...             23   Male

[2 rows x 13 columns]

In [0]:
train1 = train.drop('Interest_Rate', axis = 1)

In [0]:
combined = train1.append(test)

In [0]:
combined.head(2)

    Loan_ID  Loan_Amount_Requested  ... Total_Accounts  Gender
0  10000001                   7000  ...             14  Female
1  10000002                  30000  ...             24  Female

[2 rows x 13 columns]

In [0]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 273850 entries, 0 to 109540
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Loan_ID                  273850 non-null  int64
 1   Loan_Amount_Requested    273850 non-null  int64
 2   Length_Employed          261543 non-null  object
 3   Home_Owner               231790 non-null  object
 4   Annual_Income            231850 non-null  float64
 5   Income_Verified          273850 non-null  object
 6   Purpose_Of_Loan          273850 non-null  object
 7   Debt_To_Income           273850 non-null  float64
 8   Inquiries_Last_6Mo       273850 non-null  int64
 9   Months_Since_Deliquency  126612 non-null  float64
 10  Number_Open_Accounts     273850 non-null  int64
 11  Total_Accounts           273850 non-null  int64
 12  Gender                   273850 non-null  object
dtypes: float64(3), int64(5), object(5)
memory usage: 29.3+ MB

In [0]:
combined.columns

Index(['Loan_ID', 'Loan_Amount_Requested', 'Length_Employed', 'Home_Owner',
       'Annual_Income', 'Income_Verified', 'Purpose_Of_Loan', 'Debt_To_Income',
       'Inquiries_Last_6Mo', 'Months_Since_Deliquency', 'Number_Open_Accounts',
       'Total_Accounts', 'Gender'],
      dtype='object')

In [0]:
for column in ['Length_Employed', 'Home_Owner',]:
    combined[column].fillna(combined[column].mode()[0], inplace=True)

In [0]:
combined['Annual_Income'].fillna(combined['Annual_Income'].mean(), inplace=True)

In [0]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 273850 entries, 0 to 109540
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Loan_ID                  273850 non-null  int64
 1   Loan_Amount_Requested    273850 non-null  int64
 2   Length_Employed          273850 non-null  object
 3   Home_Owner               273850 non-null  object
 4   Annual_Income            273850 non-null  float64
 5   Income_Verified          273850 non-null  object
 6   Purpose_Of_Loan          273850 non-null  object
 7   Debt_To_Income           273850 non-null  float64
 8   Inquiries_Last_6Mo       273850 non-null  int64
 9   Months_Since_Deliquency  126612 non-null  float64
 10  Number_Open_Accounts     273850 non-null  int64
 11  Total_Accounts           273850 non-null  int64
 12  Gender                   273850 non-null  object
dtypes: float64(3), int64(5), object(5)
memory usage: 29.3+ MB

In [0]:
train2 = combined.iloc[:164309]

In [0]:
test2 = combined.iloc[164309:]

In [0]:
train3 = pd.merge(train2, train[['Loan_ID','Interest_Rate']], left_on='Loan_ID',right_on='Loan_ID',how='inner')

In [0]:
train3.shape

(164309, 14)

In [0]:
test3 = test2

In [0]:
train4 = train3.drop('Months_Since_Deliquency', axis =1)
test4 = test3.drop('Months_Since_Deliquency', axis =1)

In [0]:
train4.columns

Index(['Loan_ID', 'Loan_Amount_Requested', 'Length_Employed', 'Home_Owner',
       'Annual_Income', 'Income_Verified', 'Purpose_Of_Loan', 'Debt_To_Income',
       'Inquiries_Last_6Mo', 'Number_Open_Accounts', 'Total_Accounts',
       'Gender', 'Interest_Rate'],
      dtype='object')

In [0]:
train4[['Loan_ID', 'Loan_Amount_Requested',
       'Annual_Income', 'Debt_To_Income',
       'Inquiries_Last_6Mo', 'Number_Open_Accounts', 'Total_Accounts',]] = train4[['Loan_ID', 'Loan_Amount_Requested',
       'Annual_Income', 'Debt_To_Income',
       'Inquiries_Last_6Mo', 'Number_Open_Accounts', 'Total_Accounts',]].astype(int)

In [0]:
test4[['Loan_ID', 'Loan_Amount_Requested',
       'Annual_Income', 'Debt_To_Income',
       'Inquiries_Last_6Mo', 'Number_Open_Accounts', 'Total_Accounts',]] = test4[['Loan_ID', 'Loan_Amount_Requested',
       'Annual_Income', 'Debt_To_Income',
       'Inquiries_Last_6Mo', 'Number_Open_Accounts', 'Total_Accounts',]].astype(int)

In [0]:
# dummy = pd.get_dummies(train4)
# train5 = pd.concat([train4, dummy], axis = 1)

In [0]:
dummy1 = pd.get_dummies(train4)
train5 = train4.merge(dummy1, left_index=True, right_index=True)

In [0]:
dummy2 = pd.get_dummies(test4)
test5 = test4.merge(dummy2, left_index=True, right_index=True)

In [0]:
train5.head(2)

   Loan_ID_x  Loan_Amount_Requested_x  ... Gender_Female Gender_Male
0   10000001                     7000  ...             1           0
1   10000002                    30000  ...             1           0

[2 rows x 56 columns]

In [0]:
test5.head(2)

   Loan_ID_x  Loan_Amount_Requested_x  ... Gender_Female Gender_Male
0   10164310                    27500  ...             0           1
1   10164311                    26000  ...             0           1

[2 rows x 54 columns]

In [0]:
print(train5.shape)
print(test5.shape)

(164309, 56)
(109541, 54)

In [0]:
x_train = train5.drop(['Loan_ID_x', 'Loan_Amount_Requested_x', 'Length_Employed', 'Home_Owner',
       'Annual_Income_x', 'Income_Verified', 'Purpose_Of_Loan',
       'Debt_To_Income_x', 'Inquiries_Last_6Mo_x', 'Number_Open_Accounts_x',
       'Total_Accounts_x', 'Gender', 'Interest_Rate_x','Interest_Rate_y'], axis =1)
y_train = train5['Interest_Rate_y']
x_test = test5.drop(['Loan_ID_x', 'Loan_Amount_Requested_x', 'Length_Employed', 'Home_Owner',
       'Annual_Income_x', 'Income_Verified', 'Purpose_Of_Loan',
       'Debt_To_Income_x', 'Inquiries_Last_6Mo_x', 'Number_Open_Accounts_x',
       'Total_Accounts_x', 'Gender'], axis =1)

In [0]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)

(164309, 42)
(164309,)
(109541, 42)

In [0]:
estimator = [
             ('GBC', GradientBoostingClassifier(n_estimators=800, learning_rate=0.05, max_depth=8,verbose=1)),
             ('LGBMC' , LGBMClassifier(objective='multiclass', boosting='gbdt', learning_rate = 0.05, max_depth = 8, n_estimators = 4000,verbose=1)),
            #  ('XGBC' , XGBClassifier(max_depth=8, n_estimators=300, learning_rate=0.05))
            #  ('CBC', CatBoostClassifier(iterations=5000, learning_rate=0.01, l2_leaf_reg=3.5, depth=8, rsm=0.98, loss_function= 'MultiClass', eval_metric='AUC'))
            ]
stack_model = StackingClassifier(estimators= estimator, final_estimator= LogisticRegression(solver = 'lbfgs'))
stack_model.fit(x_train, y_train)
y_pred = stack_model.predict(x_test)
arr = pd.DataFrame(y_pred)

      Iter       Train Loss   Remaining Time
         1      172040.9166           45.48m
         2      170688.9529           45.87m
         3      169451.7187           45.63m
         4      168311.1673           45.38m
         5      167266.0876           45.21m
         6      166296.5075           45.15m
         7      165411.0942           45.14m
         8      164581.5888           45.09m
         9      163812.2053           45.05m
        10      163098.0488           44.95m
        20      157876.9812           44.52m
        30      154729.7847           43.88m
        40      152604.0812           43.03m
        50      150939.0548           42.21m
        60      149676.5330           41.40m
        70      148663.6401           40.58m
        80      147787.2897           39.83m
        90      146947.8300           39.12m
       100      146170.2394           38.44m
       200      140268.3729           32.22m
       300      135717.9114           26.57m
       400      131703.1633           21.14m
       500      128006.7063           15.78m
       600      124939.7789           10.47m
       700      121921.9955            5.22m
       800      118843.0082            0.00s
      Iter       Train Loss   Remaining Time
         1      137604.7309           34.71m
         2      136495.3931           34.94m
         3      135477.3069           34.75m
         4      134544.9449           34.73m
         5      133683.7160           34.70m
         6      132894.7383           34.67m
         7      132157.2788           34.64m
         8      131473.3316           34.69m
         9      130834.1672           34.64m
        10      130226.8230           34.70m
        20      125831.4444           34.12m
        30      123158.9732           33.57m
        40      121352.3634           33.04m
        50      120009.2645           32.53m
        60      118956.9987           31.98m
        70      118043.3841           31.41m
        80      117209.2846           30.86m
        90      116457.4983           30.35m
       100      115766.0386           29.80m
       200      110591.9373           25.11m
       300      106500.6291           20.74m
       400      102924.6433           16.51m
       500       99429.1643           12.33m
       600       96178.0318            8.20m
       700       93400.5093            4.08m
       800       90546.6943            0.00s
      Iter       Train Loss   Remaining Time
         1      137595.7057           36.33m
         2      136479.0114           35.95m
         3      135461.7084           35.90m
         4      134523.5330           35.71m
         5      133669.6879           35.74m
         6      132871.2528           35.67m
         7      132139.4790           35.73m
         8      131442.5654           35.69m
         9      130800.3041           35.68m
        10      130201.0140           35.66m
        20      125827.7383           34.99m
        30      123156.3936           34.55m
        40      121327.8004           34.03m
        50      119904.6191           33.42m
        60      118739.9394           32.86m
        70      117816.4364           32.33m
        80      117006.7890           31.71m
        90      116267.3173           31.14m
       100      115592.3816           30.59m
       200      110409.3042           25.56m
       300      106230.5698           20.97m
       400      102622.3445           16.64m
       500       99188.4491           12.41m
       600       96056.9101            8.24m

In [0]:
model = LGBMClassifier(objective='multiclass', boosting='gbdt', learning_rate = 0.05, max_depth = 8, n_estimators = 1000,verbose=1)
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
arr = pd.DataFrame(y_pred)

In [58]:
arr

        0
0       2
1       2
2       3
3       2
4       2
...    ..
109536  3
109537  2
109538  2
109539  3
109540  2

[109541 rows x 1 columns]

In [0]:
arr[0].value_counts()

2    63495
3    32158
1    13888
Name: 0, dtype: int64

In [59]:
arr[0].value_counts()

2    62215
3    40855
1     6471
Name: 0, dtype: int64

In [0]:
from google.colab import files
arr.to_csv('arr9.csv')
files.download('arr9.csv')